@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gradientBorder {
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  /* border-radius: 50%; this doesn't work */
  border-width: 6px;
  border-style: solid;
  /* padding: 5px; */
}

.round {
  border: 20px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(to top, #11998e, #38ef7d) border-box;
  border-radius: 50%;
}

.bg-blue-gradient {
  background-image: #272343;
  font-family: consolas;
}

.first-color {
  background: #f70776;
}

.second-color {
  background: #c3195d;
}

.third-color {
  background: #921446;
}

.fourth-color {
  background: #141010;
}

.text-first {
  color: #f70776;
}

.text-second {
  color: #c3195d;
}
.text-third {
  color: #690347;
}
.text-fourth {
  color: #141010;
}

.cursive {
  font-family: cursive;
}
